# Levels 

They are a website with job salaries, ladder and perks of well known companies

In [1]:
from load_levels import positions_df, benefits_df
import pandas as pd

positions_df
benefits_df

,company_name,position,ladder_level,salary
0,Facebook,Software Engineering Manager,D1,1770.0
1,Microsoft,Software Engineering Manager,VP,1490.0
2,Roblox,Software Engineer,TD1,1220.0
3,Salesforce,Software Engineering Manager,VP,1160.0
4,Facebook,Software Engineer,E8,1050.0
...,...,...,...,...
2974,Tata Consultancy Services,Business Analyst,Median,15.0
2975,Snap-on Tools,Software Engineer,Median,13.0
2976,Andela,Software Engineer,Median,12.0
2977,Aryaka Networks,Software Engineer,Median,12.0
2978,BNP Paribas,Software Engineer,Median,11.0