# Levels 

They are a website with job salaries, ladder and perks of well known companies

## Data preparation

1. Create a new category to classify **position_type**

In [1]:
from load_levels import positions_df, benefits_df, classify_position
import pandas as pd

positions_df['position'] = positions_df['position'].map(lambda p : p.strip())
positions_df['position_type'] = positions_df['position'].map(classify_position)

## Positions with salary (min, max, mean)

In [21]:
positions_by_salary = positions_df.groupby('position_type')['salary']\
    .agg(quantity_records='count', minimum='min', maximum='max', mean='mean')\

positions_by_salary.sort_values('quantity_records', ascending=False)

                           quantity_records  minimum  maximum        mean
position_type
Business Analyst                         68     15.0    430.0  139.397059
Data Engineer                             2    212.0    312.0  262.000000
Data Scientist                          174     32.0    543.0  186.494253
Financing                                40     54.0    839.0  189.400000
Hardware Engineer                        98     58.0    747.0  209.397959
Human Resources                          61     80.0    467.0  181.983607
Information Technologist                 10     94.0    227.0  133.000000
Management Consultant                    65     60.0    402.0  171.892308
Marketing                                62     85.0    478.0  199.580645
Others                                   57     54.0    360.0  146.140351
Product Designer                        110     65.0    578.0  200.290909
Product Manager                         254     60.0    957.0  236.003937
Sales                                    29    120.0    789.0  261.413793
Security Engineer                         4    164.0    345.0  234.750000
Software Engineer                      1603     11.0   1220.0  178.732377
Software Manager                        193     78.0   1770.0  323.088083
Solution Architect                       55     58.0    513.0  217.981818
Technical Account Manager                 2    177.0    216.0  196.500000
Technical Leader                          1    291.0    291.0  291.000000
Technical Program Manager                91     66.0    531.0  228.208791